.txt-blue{
	color:$red;
}
.txt-red{
	color:$red;
}
.txt-yellow{
	color:$yellow;
}
.txt-orange{
	color:$orange;
}
.txt-green{
	color:$green;
}
.txt-purple{
	color:$purple;
}
.txt-black{
	color:$black;
}
.txt-white{
	color:#fff;
}
.bg-blue{
  background:$red;
}
.bg-red{
  background:$red;
}
.bg-yellow{
  background:$yellow;
}
.bg-orange{
  background:$orange;
}
.bg-green{
  background:$green;
}
.bg-purple{
  background:$purple;
}
.bg-black{
  background:$black;
}
.bg-white{
  background:#fff;
}
.bg--h-b:hover,
.bg-hover-blue:hover{
  background:$red;
}
.bg--h-r:hover,
.bg-hover-red:hover{
  background:$red;
}
.bg-h-y:hover,
.bg-hover-yellow:hover{
  background:$yellow;
}
.bg-h-o:hover,
.bg-hover-orange:hover{
  background:$orange;
}
.bg-h-g:hover,
.bg-hover-green:hover{
  background:$green;
}
.bg-h-p:hover,
.bg-hover-purple:hover{
  background:$purple;
}
.bg-h-bl:hover,
.bg-hover-black:hover{
  background:$black;
}
.bg-h-wh:hover,
.bg-hover-white:hover{
  background:#fff;
}
.txt-hover-blue:hover{
  color:$red;
}
.txt-hover-red:hover{
  color:$red;
}
.txt-hover-yellow:hover{
  color:$yellow;
}
.txt-hover-orange:hover{
  color:$orange;
}
.txt-hover-green:hover{
  color:$green;
}
.txt-hover-purple:hover{
  color:$purple;
}
.txt-hover-black:hover{
  color:$black;
}
.txt-hover-white:hover{
  color:#fff ;
}
.bg-gradient-white-blue-0deg{
  background-image: linear-gradient(0deg, #fff, $red);
}
.bg-gradient-white-blue-45deg{
  background-image: linear-gradient(45deg, #fff, $red);
}
.bg-gradient-white-blue-90deg{
  background-image: linear-gradient(90deg, #fff, $red);
}
.bg-gradient-white-blue-135deg{
  background-image: linear-gradient(135deg, #fff, $red);
}
.bg-gradient-white-blue-180deg{
  background-image: linear-gradient(180deg, #fff, $red);
}
.bg-gradient-t-b-0deg,
.bg-gradient-turquoise-blue-0deg{
  background-image: linear-gradient(0deg, #0ff, $red);
}
.bg-gradient-t-b-45deg,
.bg-gradient-turquoise-blue-45deg{
  background-image: linear-gradient(45deg, #0ff, $red);
}
.bg-gradient-t-b-90deg,
.bg-gradient-turquoise-blue-90deg{
  background-image: linear-gradient(90deg, #0ff, $red);
}
.bg-gradient-t-b-135deg,
.bg-gradient-turquoise-blue-135deg{
  background-image: linear-gradient(135deg, #0ff, $red);
}
.bg-gradient-t-b-180deg,
.bg-gradient-turquoise-blue-180deg{
  background-image: linear-gradient(180deg, #0ff, $red);
}
.bg-gradient-white-red-0deg{
  background-image: linear-gradient(0deg, #fff, $red);
}
.bg-gradient-white-red-45deg{
  background-image: linear-gradient(45deg, #fff, $red);
}
.bg-gradient-white-red-90deg{
  background-image: linear-gradient(90deg, #fff, $red);
}
.bg-gradient-white-red-135deg{
  background-image: linear-gradient(135deg, #fff, $red);
}
.bg-gradient-white-red-180deg{
  background-image: linear-gradient(180deg, #fff, $red);
}
.bg-gradient-white-yellow-0deg{
  background-image: linear-gradient(0deg, #fff, $yellow);
}
.bg-gradient-white-yellow-45deg{
  background-image: linear-gradient(45deg, #fff, $yellow);
}
.bg-gradient-white-yellow-90deg{
  background-image: linear-gradient(90deg, #fff, $yellow);
}
.bg-gradient-white-yellow-135deg{
  background-image: linear-gradient(135deg, #fff, $yellow);
}
.bg-gradient-white-yellow-180deg{
  background-image: linear-gradient(180deg, #fff, $yellow);
}
.bg-gradient-white-orange-0deg{
  background-image: linear-gradient(0deg, #fff, $orange);
}
.bg-gradient-white-orange-45deg{
  background-image: linear-gradient(45deg, #fff, $orange);
}
.bg-gradient-white-orange-90deg{
  background-image: linear-gradient(90deg, #fff, $orange);
}
.bg-gradient-white-orange-135deg{
  background-image: linear-gradient(135deg, #fff, $orange);
}
.bg-gradient-white-orange-180deg{
  background-image: linear-gradient(180deg, #fff, $orange);
}
.bg-gradient-white-green-0deg{
  background-image: linear-gradient(0deg, #fff, $green);
}
.bg-gradient-white-green-45deg{
  background-image: linear-gradient(45deg, #fff, $green);
}
.bg-gradient-white-green-90deg{
  background-image: linear-gradient(90deg, #fff, $green);
}
.bg-gradient-white-green-135deg{
  background-image: linear-gradient(135deg, #fff, $green);
}
.bg-gradient-white-green-180deg{
  background-image: linear-gradient(180deg, #fff, $green);
}
.bg-gradient-purple-yellow-0deg{
  background-image: linear-gradient(0deg, #60F, $yellow);
}
.bg-gradient-purple-yellow-45deg{
  background-image: linear-gradient(45deg, #60F, $yellow);
}
.bg-gradient-purple-yellow-90deg{
  background-image: linear-gradient(90deg, #60F, $yellow);
}
.bg-gradient-purple-yellow-135deg{
  background-image: linear-gradient(135deg, #60F, $yellow);
}
.bg-gradient-purple-yellow-180deg{
  background-image: linear-gradient(180deg, #60F, $yellow);
}
.bg-gradient-white-purple-0deg{
  background-image: linear-gradient(0deg, #fff, $purple);
}
.bg-gradient-white-purple-45deg{
  background-image: linear-gradient(45deg, #fff, $purple);
}
.bg-gradient-white-purple-90deg{
  background-image: linear-gradient(90deg, #fff, $purple);
}
.bg-gradient-white-purple-135deg{
  background-image: linear-gradient(135deg, #fff, $purple);
}
.bg-gradient-purple-white-180deg{
  background-image: linear-gradient(180deg, $purple, #fff);
}
.bg-gradient-purple-white-0deg{
  background-image: linear-gradient(0deg, $purple, #fff);
}
.bg-gradient-purple-white-45deg{
  background-image: linear-gradient(45deg, $purple, #fff);
}
.bg-gradient-purple-white-90deg{
  background-image: linear-gradient(90deg, $purple, #fff);
}
.bg-gradient-purple-white-135deg{
  background-image: linear-gradient(135deg, $purple, #fff);
}
.bg-gradient-purple-white-180deg{
  background-image: linear-gradient(180deg, $purple, #fff);
}
.bg-gradient-blue-white-0deg{
  background-image: linear-gradient(0deg, $red, #fff);
}
.bg-gradient-blue-white-45deg{
  background-image: linear-gradient(45deg, $red, #fff);
}
.bg-gradient-blue-white-90deg{
  background-image: linear-gradient(90deg, $red, #fff);
}
.bg-gradient-blue-white-135deg{
  background-image: linear-gradient(135deg, $red, #fff);
}
.bg-gradient-blue-white-180deg{
  background-image: linear-gradient(180deg, $red, #fff);
}
.bg-gradient-blue-red-0deg{
  background-image: linear-gradient(0deg, $red, $red);
}
.bg-gradient-blue-red-45deg{
  background-image: linear-gradient(45deg, $red, $red);
}
.bg-gradient-blue-red-90deg{
  background-image: linear-gradient(90deg, $red, $red);
}
.bg-gradient-blue-red-135deg{
  background-image: linear-gradient(135deg, $red, $red);
}
.bg-gradient-blue-red-180deg{
  background-image: linear-gradient(180deg, $red, $red);
}
.bg-gradient-blue-yellow-0deg{
  background-image: linear-gradient(0deg, $red, $yellow);
}
.bg-gradient-blue-yellow-45deg{
  background-image: linear-gradient(45deg, $red, $yellow);
}
.bg-gradient-blue-yellow-90deg{
  background-image: linear-gradient(90deg, $red, $yellow);
}
.bg-gradient-blue-yellow-135deg{
  background-image: linear-gradient(135deg, $red, $yellow);
}
.bg-gradient-blue-yellow-180deg{
  background-image: linear-gradient(180deg, $red, $yellow);
}
.bg-gradient-blue-orange-0deg{
  background-image: linear-gradient(0deg, $red, $orange);
}
.bg-gradient-blue-orange-45deg{
  background-image: linear-gradient(45deg, $red, $orange);
}
.bg-gradient-blue-orange-90deg{
  background-image: linear-gradient(90deg, $red, $orange);
}
.bg-gradient-blue-orange-135deg{
  background-image: linear-gradient(135deg, $red, $orange);
}
.bg-gradient-blue-orange-180deg{
  background-image: linear-gradient(180deg, $red, $orange);
}
.bg-gradient-blue-green-0deg{
  background-image: linear-gradient(0deg, $red, $green);
}
.bg-gradient-blue-green-45deg{
  background-image: linear-gradient(45deg, $red, $green);
}
.bg-gradient-blue-green-90deg{
  background-image: linear-gradient(90deg, $red, $green);
}
.bg-gradient-blue-green-135deg{
  background-image: linear-gradient(135deg, $red, $green);
}
.bg-gradient-blue-green-180deg{
  background-image: linear-gradient(180deg, $red, $green);
}
.bg-gradient-blue-green-0deg{
  background-image: linear-gradient(0deg, $red, $green);
}
.bg-gradient-green-blue-45deg{
  background-image: linear-gradient(45deg, $green, $red);
}
.bg-gradient-green-blue-90deg{
  background-image: linear-gradient(90deg, $green, $red);
}
.bg-gradient-green-blue-135deg{
  background-image: linear-gradient(135deg, $green, $red);
}
.bg-gradient-green-blue-180deg{
  background-image: linear-gradient(180deg, $green, $red);
}
.bg-gradient-blue-purple-0deg{
  background-image: linear-gradient(0deg, $red, $purple);
}
.bg-gradient-blue-purple-45deg{
  background-image: linear-gradient(45deg, $red, $purple);
}
.bg-gradient-blue-purple-90deg{
  background-image: linear-gradient(90deg, $red, $purple);
}
.bg-gradient-blue-purple-135deg{
  background-image: linear-gradient(135deg, $red, $purple);
}
.bg-gradient-blue-purple-180deg{
  background-image: linear-gradient(180deg, $red, $purple);
}
.bg-gradient-red-white-0deg{
  background-image: linear-gradient(0deg, $red, #fff);
}
.bg-gradient-red-white-45deg{
  background-image: linear-gradient(45deg, $red, #fff);
}
.bg-gradient-red-white-90deg{
  background-image: linear-gradient(90deg, $red, #fff);
}
.bg-gradient-red-white-135deg{
  background-image: linear-gradient(135deg, $red, #fff);
}
.bg-gradient-red-white-180deg{
  background-image: linear-gradient(180deg, $red, #fff);
}
.bg-gradient-red-blue-0deg{
  background-image: linear-gradient(0deg, $red, $red);
}
.bg-gradient-red-blue-45deg{
  background-image: linear-gradient(45deg, $red, $red);
}
.bg-gradient-red-blue-90deg{
  background-image: linear-gradient(90deg, $red, $red);
}
.bg-gradient-red-blue-135deg{
  background-image: linear-gradient(135deg, $red, $red);
}
.bg-gradient-red-blue-180deg{
  background-image: linear-gradient(180deg, $red, $red);
}
.bg-gradient-red-yellow-0deg{
  background-image: linear-gradient(0deg, $red, $yellow);
}
.bg-gradient-red-yellow-45deg{
  background-image: linear-gradient(45deg, $red, $yellow);
}
.bg-gradient-red-yellow-90deg{
  background-image: linear-gradient(90deg, $red, $yellow);
}
.bg-gradient-red-yellow-135deg{
  background-image: linear-gradient(135deg, $red, $yellow);
}
.bg-gradient-red-yellow-180deg{
  background-image: linear-gradient(180deg, $red, $yellow);
}
.bg-gradient-red-orange-0deg{
  background-image: linear-gradient(0deg, $red, $orange);
}
.bg-gradient-red-orange-45deg{
  background-image: linear-gradient(45deg, $red, $orange);
}
.bg-gradient-red-orange-90deg{
  background-image: linear-gradient(90deg, $red, $orange);
}
.bg-gradient-red-orange-135deg{
  background-image: linear-gradient(135deg, $red, $orange);
}
.bg-gradient-red-orange-180deg{
  background-image: linear-gradient(180deg, $red, $orange);
}
.bg-gradient-orange-red-0deg{
  background-image: linear-gradient(0deg, $orange, $red);
}
.bg-gradient-orange-red-45deg{
  background-image: linear-gradient(45deg, $orange, $red);
}
.bg-gradient-orange-red-90deg{
  background-image: linear-gradient(90deg, $orange, $red);
}
.bg-gradient-orange-red-135deg{
  background-image: linear-gradient(135deg, $orange, $red);
}
.bg-gradient-orange-red-180deg{
  background-image: linear-gradient(180deg, $orange, $red);
}
.bg-gradient-red-green-0deg{
  background-image: linear-gradient(0deg, $red, $green);
}
.bg-gradient-red-green-45deg{
  background-image: linear-gradient(45deg, $red, $green);
}
.bg-gradient-red-green-90deg{
  background-image: linear-gradient(90deg, $red, $green);
}
.bg-gradient-red-green-135deg{
  background-image: linear-gradient(135deg, $red, $green);
}
.bg-gradient-red-green-180deg{
  background-image: linear-gradient(180deg, $red, $green);
}
.bg-gradient-red-purple-0deg{
  background-image: linear-gradient(0deg, $red, $purple);
}
.bg-gradient-red-purple-45deg{
  background-image: linear-gradient(45deg, $red, $purple);
}
.bg-gradient-red-purple-90deg{
  background-image: linear-gradient(90deg, $red, $purple);
}
.bg-gradient-red-purple-135deg{
  background-image: linear-gradient(135deg, $red, $purple);
}
.bg-gradient-red-purple-180deg{
  background-image: linear-gradient(180deg, $red, $purple);
}
