header{
  height:64px;
  display:block;
  width:100%;
  position:fixed;
  z-index:4000;
}
header .inner{
  padding:20px 0px;
}
 .logo{
	padding-left:13px;
  margin: 0px -2rem -4px 1rem;
}
.logo img{
	height:28px;
  margin: -5px 0px;
}
.logo .txt{
	font-weight:500;
  margin-left:13px;
}
.menu-item {
  padding: 20px 5px;
}
.menu-item.contact {
  padding: 20px 0px 20px 5px;
}

.menu{
	text-align: right;
}
header.swoosh:after{
	height:64px;
	margin-top:-64px;
	background:#fff;
}
header .col-xs-1,
header .col-xs-2,
header .col-xs-3,
header .col-xs-4,
header .col-xs-5,
header .col-xs-6,
header .col-xs-7,
header .col-xs-8,
header .col-xs-9,
header .col-xs-10,
header .col-xs-11,
header .col-xs-12{
	padding:0px !important;
}

.swoosh:after {
	content: '';
	display: block;
	width: 0%;
	float:right;
	z-index:1900;
	transition: all 0.5s cubic-bezier(.66, 0, .1, 1);
  box-shadow: 0 0px 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0);
}
.s--up.swoosh:after,
.swoosh:hover:after {
	width: 100%;
	float:left;box-shadow: 0 10px 20px -20px  rgba(0,0,0,0.19), 0 6px 6px -6px rgba(0,0,0,0.23);
}

@media only screen and (min-width: $sm-scrn) {
  .menu-item {
    padding: 20px;
  }
  .menu-item.contact {
    padding: 20px 0px 20px 20px;
  }
}
@media only screen and (min-width: $md-scrn) {
}
@media only screen and (min-width: $lg-scrn) {
}
