.overflow-rm-xs {
  height:$spcr*2*2;
  max-height:$spcr*2*2;
}
.overflow-rm-sm {
  height:$spcr*4*2;
  max-height:$spcr*4*2;
}
.overflow-rm-md {
  height:$spcr*8*2;
  max-height:$spcr*8*2;
}
.overflow-rm-lg {
  height:$spcr*16*2;
  max-height:$spcr*16*2;
}
.overflow-rm-xl {
  height:$spcr*32*2;
  max-height:$spcr*32*2;
}
.overflow-rm-xs,
.overflow-rm-sm,
.overflow-rm-md,
.overflow-rm-lg,
.overflow-rm-xl {
  position: relative;
  overflow: hidden;
  display: block;
}
.overflow-rm-xs .read-more,
.overflow-rm-sm .read-more,
.overflow-rm-md .read-more,
.overflow-rm-lg .read-more,
.overflow-rm-xl .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
	padding: 30px 0;
}
