
.lg-spacer,
.large-spacer,
.md-spacer,
.medium-spacer,
.sm-spacer,
.small-spacer,
.xs-spacer{
  width:100%;
  height:0%;
}
.xl-spacer,
.xlarge-spacer{
	padding-top:246px;
	padding-bottom:246px;
}
.lg-spacer,
.large-spacer{
	padding-top:123px;
	padding-bottom:123px;
}
.md-spacer,
.medium-spacer{
	padding-top:61px;
	padding-bottom:61px;
}
.sm-spacer{
	padding-top:30px;
	padding-bottom:30px;
}
.xs-spacer{
	padding-top:15px;
	padding-bottom:15px;
}
