
.transition0-1,
.tn--0-1 {
	transition: all 0.1s;
}
.transition0-2,
.tn--0-2 {
	transition: all 0.2s;
}
.transition0-3,
.tn--0-3 {
	transition: all 0.3s;
}
.transition0-4,
.tn--0-4 {
	transition: all 0.4s;
}
.transition0-5,
.tn--0-5 {
	transition: all 0.5s;
}
.transition0-6,
.tn--0-6 {
	transition: all 0.6s;
}
.transition0-7,
.tn--0-7 {
	transition: all 0.7s;
}
.transition0-8,
.tn--0-8 {
	transition: all 0.8s;
}
.transition0-9,
.tn--0-9 {
	transition: all 0.9s;
}
.transition1-0,
.tn--1-0 {
	transition: all 1s;
}
