*{
	transition:font-size 0.2s;
}

.btn-play button span,
.btn-play button,
button.btn-lg,
button.btn-big{
	font-size:34px !important;
	font-family: Averta;
}

blockquote::before{
  font-size:6rem;
}

header{
  font-size:20px;
}

nav.list{
	font-size:1rem;
}

.support textarea,
.support input,
.contact textarea,
.contact input{
	font-size:34px;
	font-family: Averta;
}
h1.headline{
	font-size:3rem;
	line-height: 1.5;
}
footer .title,
blockquote::before,
h1,h2,h3,h4,h5{
  font-weight:700;
}
footer .title,
h1{
  font-size:2.5rem;
	line-height: 1.5;
}
h2{
  font-size:2rem;
}
h3{
  font-size:1.8rem;
}
h4{
  font-size:1.6rem;
}
body{
	font-size:1.5rem;
}
footer .title{
	font-size:60% !important;
}
footer nav ul li{
	font-size:60% !important;
}
@media only screen and (min-width: $sm-scrn) {
	header{
  	font-size:20px;
	}
	.intro{
		font-size:1.6rem;
	}
	footer .title{
		font-size:80% !important;
	}
	footer nav ul li{
		font-size:80% !important;
	}
}

@media only screen and (min-width: $md-scrn) {
	header{
  	font-size:24px;
	}
	.intro{
		font-size:1.8rem;
	}
	footer .title{
		font-size:100% !important;
	}
	footer nav ul li{
		font-size:100% !important;
	}
}
@media only screen and (min-width: $lg-scrn) {
	header{
  	font-size:24px;
	}
	.intro{
	  font-size:2rem;
	}
	footer .title{
		font-size:120% !important;
	}
	footer nav ul li{
		font-size:120% !important;
	}
}
