@import  'reset';
@import  'vars';
@import  'transitions';
@import  'spacers';
@import  'borders';
@import  'typography';
@import  'colors';
@import  'grid';
@import  'quickfix';


.hide {
	display:none;
}
canvas#mathglobe {
  width:20vw;
  height:20vw;
}
.ticket{
	margin-bottom:7px;
}
.ticket--status,
.ticket--title,
.ticket--open-date{
	display:inline-block;
	height:25px;
    margin: 15px 15px 15px 15px;
}
.ticket--status{
	font-family: 'Cutive Mono', monospace;
	font-size:16px;
	margin:0px 20px 0px 20px;
}
.ticket--status.open span,
.ticket--status.closed span{
	padding:2px 4px;
	border:1px #000 solid;
	border-radius:3px;
}
.ticket--status.open span{
	background:#0F0;
}
.ticket--status.closed span{
	background:#F00;
	color:#fff;
}
.ticket--open-date{
	float:right;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
	background-color: $blue;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	top:0px;
}
#particles-js canvas.particles-js-canvas-el{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
	top:0px;
}
body{
  font-family: 'averta', sans-serif;
}
header{
  height:64px;
  display:block;
  width:100%;
  position:fixed;
  z-index:4000;
}
header .inner{
  padding:20px 0px 20px 10px;
}
footer{}
footer nav {
	margin-top:8px;
}
nav.index{

}
nav.index ul,
nav.index ul li,
nav.index ul li ul,
nav.index ul li ul li{
	margin-left:10px;
}
nav.index ul{

}
nav.index ul li{


}
nav.index ul li ul{

}
nav.index ul li ul li{

}
nav.list ul li{
	padding-left:20px;
    border-left: 2px solid #000;
}
nav.list ul li ul li{
    border-left: 0px solid #000;
}
*::selection{
	background:$blue;
	color:$white;
}
nav.list ul li:after{
	content: '';
	position: absolute;
	display: block;
	width: 18px;
	height: 2px;
    margin-top: -2.5em;
    margin-left: -20px;
	background:#000;
}
nav.list ul li ul li:after{
	content: '';
	position: absolute;
	display: block;
	width: 25px;
	height: 2px;
    margin-top: -.5em;
    margin-left: -30px;
	background:#000;
}
nav.list:before{
	position: absolute;
	display: block;
	content: 'list';
	margin-left:-1.3em;
	margin-top:-1.2em;
	font-family:'Cutive Mono';
}
nav.list ul li ul li:before{
	content: '';
	position: absolute;
	display: block;
	width: 2px;
	height: 1em;
    margin-top: -.5em;
    margin-left: -30px;
	background:#000;
}
footer nav ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
}
strong{
	font-weight:700;
}
.content{
  padding-top:64px;
}
.xs-title{
	margin-top:20px;
}
.menu{
	text-align: right;
}
.menu-item{
	padding: 20px;
}
header.swoosh:after{
	height:64px;
	margin-top:-64px;
	background:#fff;
}
.credits .col-xs-1,
.credits .col-xs-2,
.credits .col-xs-3,
.credits .col-xs-4,
.credits .col-xs-5,
.credits .col-xs-6,
.credits .col-xs-7,
.credits .col-xs-8,
.credits .col-xs-9,
.credits .col-xs-10,
.credits .col-xs-11,
.credits .col-xs-12{
	padding-top:0px !important;
	padding-bottom:0px !important;
}
header .col-xs-1,
header .col-xs-2,
header .col-xs-3,
header .col-xs-4,
header .col-xs-5,
header .col-xs-6,
header .col-xs-7,
header .col-xs-8,
header .col-xs-9,
header .col-xs-10,
header .col-xs-11,
header .col-xs-12{
	padding:0px !important;
}

.swoosh:after {
	content: '';
	display: block;
	width: 0%;
	float:right;
	z-index:1900;
	transition: all 0.5s cubic-bezier(.66, 0, .1, 1);
}
.s--up.swoosh:after,
.swoosh:hover:after {
	width: 100%;
	float:left;
}
.strikethrough{
	display: inline-block;
	position: relative;
	transition: all 0.5s cubic-bezier(.22, 0, .1, 1);
}
.strikethrough:after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	margin-top: -0.5em;
	background: black;
	transform-origin: center left;
	animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
	transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}
.strikethrough:hover:after {
	transform: scaleX(0);
	transform-origin: center right;
}
@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
 .logo{
	padding-left:13px;
}
.logo img{
	height:28px;
  margin:-4px;
}
.logo .txt{
	font-weight:500;
  margin-left:13px;
}
.container.full-width{
	width:100%;
}
html, body {
  height: 100%;
  width: 100%;
}


.vertical-center {
  margin-top: 50%;
}
.full-height,
.container.full-height{
	max-height:100%;
	height:100%;
}
.center{
	text-align:center;
}
.row{
	max-width:100%;
}
blockquote{
  width:60%;
  margin:auto;
  padding:3rem 30px 3rem 75px;
  line-height:1.6;
  position: relative;
}

blockquote.bq-blue{
  border-left:8px solid $blue;
}
blockquote.bq-red{
  border-left:8px solid #FF0000;
}
blockquote.bq-yellow{
  border-left:8px solid #FFFF00;
}
blockquote.bq-orange{
  border-left:8px solid #FF6600;
}
blockquote.bq-green{
  border-left:8px solid #00FF00;
}
blockquote.bq-purple{
  border-left:8px solid #6600FF;
}
blockquote.bq-black{
  border-left:8px solid #000;
}
blockquote.bq-white::before{
  color: #fff ;
}
blockquote.bq-blue::before{
  color: $blue;
}
blockquote.bq-red::before{
  color: #FF0000;
}
blockquote.bq-yellow::before{
  color: #FFFF00;
}
blockquote.bq-orange::before{
  color: #FF6600;
}
blockquote.bq-green::before{
  color: #00FF00;
}
blockquote.bq-purple::before{
  color: #6600FF;
}
blockquote.bq-black::before{
  color: #000;
}
blockquote.bq-white::before{
  color: #fff ;
}
blockquote::before{
  font-family:'Averta';
  content: "\201C";
  position: absolute;
  left: 10px;
  top:-30px;
}
.portfolio-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.portfolio-item-border{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left:-.4rem;
  margin-top:-.4rem;
    height: 100%; /* THIS NEEDS TO BE UPDATED TO A MORE PERMANENT SOLUTION*/
    width: 100%;
  opacity: 1;
  border:1px #00f solid;
  color:transparent;
  transition:all .2s;
	font-size:1px;
}
.portfolio-container:hover .portfolio-item-border{
  border:0px #ff0 solid;
  margin-left:0rem;
  margin-top:0rem;
  width:0%;
  height:0%;
  transition:all .2s;
  top:100%;
  left:100%;
  transition:top .4s;
  transition:left .4s;
}

.portfolio-item img,
.portfolio img{
  max-width: 100%;
	width: 100%;
  opacity:.8;
  -webkit-filter: grayscale(100%) contrast(110%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) contrast(110%);
  transition:all .2s;
}
.portfolio img:hover{
  max-width: 100%;
	width: 100%;
  opacity:1;
  -webkit-filter: grayscale(0%) contrast(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%) contrast(100%);
  transition:all .2s;
  transition:opacity .4s;
}
.portfolio .col-xs-4{
    padding: 1rem;
}
blockquote::after{
  content: '';
}
blockquote span{
  display:block;
  font-style: normal;
  margin-top:1rem;
}
.content.center{
	margin-right:auto;
	margin-left:auto;
}
.txt-bold{
	font-weight:700;
}
.txt-center{
	text-align: center;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.tail img{
	width:100%;
	height:auto;
}
.tail{
	top:0;
	left:10;
	display:none;
	position: absolute;
	float: left;
	width:40%;
	transition: top .2s, left .2s;
}
.person:hover .tail{
	position: absolute;
	float: left;
	display:block;
	transition: top .2s, left .2s;
}
.people .row .col-xs-6{
	padding-left:2rem;
	padding-right:2rem;
}
.border-bottom-blue{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:$blue;
}
.border-bottom-red{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#FF0000;
}
.border-bottom-yellow{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#FFFF00;
}
.border-bottom-orange{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#FF6600;
}
.border-bottom-green{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#00FF00;
}
.border-bottom-purple{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#6600FF;
}
.border-bottom-black{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#000;
}
.border-bottom-white{
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color:#fff;
}
.border-radius{
	border-radius: 7px;
}
.btn-play{
	margin:20px 20px 10px 20px;
}
button.btn-big,
button.btn-lg{
	padding:4px 20px 10px 20px;
}
.about{
	font-family: 'Cutive Mono', monospace;
}
.about i{
	font-family: 'Cutive Mono', monospace;
}
.work .portfolio{
    margin-top:-160px;
}
.benefits .icon{
	background:$purple;
	border-radius:5px;
	height:25px;
	width:25px;
}
textarea.big,
input.big,
.contact textarea,
.contact input{
	width:100%;
	padding:10px 20px 10px 20px;
}
.contact button:hover,
.contact textarea:focus,
.contact input:focus{
	background: #000;
	color:#FFFF00;
}
textarea.message.big,
.contact .message{
	height:200px;
}
#nointeract,
#no-interact,
.nointeract,
.no-interact{
  pointer-events: none !important;
}
