*{
	transition:font-size 0.2s;
}
button.btn-big{
	font-size:34px;
	font-family: Averta;
}
blockquote::before{
  font-size:6rem;
}
header{
  font-size:24px;}
  nav.list{
	font-size:1rem;}
	
.support textarea,
.support input,
.contact textarea,
.contact input{
	font-size:34px;
	font-family: Averta;
}
h1.headline{
	font-size:3rem;
}

blockquote::before,
h1,h2,h3,h4,h5{
  font-weight:700;
}
h1{
  font-size:2.5rem;
}
h2{
  font-size:2rem;
}
h3{
  font-size:1.8rem;
}

body,
h4{
  font-size:1.6rem;
}
@media only screen and (min-width: 48em) {
	.intro{
		font-size:1.6rem;
	}
}

@media only screen and (min-width: 64em) {
	.intro{
		font-size:1.8rem;
	}
}

@media only screen and (min-width: 75em) {
	.intro{
	  font-size:2rem;
	}
}